nav
  ul.list-left
    li #[a(href="work") Work]
    li #[a(href="http://food.preston.io") Food]
    li #[a(href="about") About]
  ul.list-right
    li
      a(href='http://github.com/prestonp', alt='Code')
        i(class='fa fa-github')
    li
      a(href='http://codepen.io/prestonp', alt='Codepen')
        i(class='fa fa-codepen')
    //- li
    //-   a(href='http://food.preston.io', alt='Food')
    //-     i(class='fa fa-tumblr')
    li
      a(href='https://twitter.com/prestonp08', alt='Twitter')
        i(class='fa fa-twitter')
    //- li
    //-   a(href='https://www.facebook.com/prestonp', alt='The Facebook')
    //-     i(class='fa fa-facebook')
    li
      a(href='mailto:preston.a.pham@gmail.com', alt='E-mail me')
        i(class='fa fa-envelope')
  a.title(href="/")
    h1 Preston Pham
    h2 Web Developer
