extends layout

block content
  h1 About

  img.profile(src="images/profile.jpg")
  p
    strong Hi! I'm Preston.
    | &nbsp;I'm currently based in Austin working on web stuff at
    | &nbsp; #[a(href="https://www.cloudflare.com") Cloudflare].
