extends layout

block content
  h1 About
  
  img.profile(src="images/profile.jpg")
  p 
    strong Hi! I'm Preston.
    | &nbsp;I build various features and tools for 
    | #[a(href="https://goodybag.com") Goodybag].
  p I love developing applications with JavaScript. I like creating delightful 
    | user experiences and solving painful problems.
  p Outside of work, I enjoy cooking at home. I'm always thinking of ways to 
    | improve my culinary skills. I think cooking is a beautiful 
    | intersection between food, art and science.
