extends layout

block content
  h1 AMP Test

  ul
    li
      a(href="https://www.bloomberg.com/news/articles/2017-02-23/alphabet-s-waymo-sues-uber-for-stealing-self-driving-patents") Alphabet's Waymo Alleges Uber Stole Self-Driving Secrets
    li
      a(href="http://europe.newsweek.com/robert-reich-why-socialism-rich-capitalism-poor-455066?rm=eu")  Why Socialism for the Rich, Capitalism for the Poor?
