extends layout

block content

  :markdown
    Hello! My name is Preston Pham, I am a web dev at [goodybag.com](http://goodybag.com). 
    I like to write javascript and play around on the front end side of things. 
    I love cooking and will post some of my foodie adventures.

  ul
    li
      a(href='http://prestonpham.com') blog
    li
      a(href='https://github.com/prestonp') github
    li
      a(href='projects') projects
    li
      a(href='mailto:prestonp08@gmail.com') email
