doctype html
html
  head
    title Preston Pham
    block css
      link(href='http://fonts.googleapis.com/css?family=Noto+Sans', rel='stylesheet', type='text/css')
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(rel="shortcut icon", href=locals.gravatar)
      link(rel="apple-touch-icon", href=locals.gravatar)
  body
    block content

