extends layout

block content

  h3 Projects
  .project
    .title zen
    .description a markdown pastebin built in node.js and mongodb
    img(src='/images/zen.png')
    ul.actions
      li
        a(href='http://zen.preston.io') demo
      li
        a(href='https://github.com/prestonp/zen') source

  ul
    li
      a(href='http://prestonpham.com') blog
    li
      a(href='https://github.com/prestonp') github
    li
      a.active(href='projects') projects
    li
      a(href='mailto:prestonp08@gmail.com') email
