nav {
  .clearfix;
  margin: 50px 0 20px;
  opacity: 0;
  text-align: center;
}

.list-left,
.list-right {
  margin: 0;
  padding: 0;
  list-style-type: none;
  & > li { display: inline; }
  & > li + li { margin-left: 20px }
  margin-bottom: 20px;
  transition: font-size .3s;
}

.list-left { font-size: .8rem; }
.list-right { font-size: 1.4rem; }

@media (min-width: @breakpoint) {
  .list-left,
  .list-right {
    line-height: 40px;
  }

  .list-left {
    float: left;
    text-align: left;
    font-weight: bold;
  }

  .list-right {
    float: right;
    text-align: right;
  }
}
