* {
  transition: all .2s;
}

body {
  height: 100%;
  background: url('/images/splash.jpeg') no-repeat center center fixed;
  background-size: cover;
  -webkit-animation: fadeIn 3s;
  font-size: 22pt;
  font-family: 'Noto Sans', sans-serif;
  color: #aaa;
  -webkit-font-smoothing: antialiased;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.container {
  margin: 0 auto;
  width: 90%;
}

@media (min-width: 720px) {
  .container {
    width: 60%;
  }
}

.navbar {
  text-align: center;
}

.navbar > a {
  float: right;
  margin-left: 20px;
  font-size: 2rem;
  transition: opacity .2s;
}

.navbar a.title {
  float: left;
  margin: 0;
  text-align: left;

  &:hover {
    text-decoration: none;
  }
}

@media (min-width: 720px) {
  .navbar { 
    margin-top: 50px;
  }
}

a {
  color: rgba(255, 255, 255, .7);
  text-decoration: none;
  font-size: 1rem;
}

a:hover, a.active {
  color: rgba(255, 255, 255, 1);
}

img {
  width: 100%;
  height: auto;
}

ul li {
  display: inline;
  padding: 10px;
}

ul li:first-child {
  padding-left: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  font-size: 16pt;
}

.project {
}

.project .title {
  color: #515151;
  letter-spacing: -0.04em;
  font-weight: 700;
  font-size: 32pt;
}

.project .description {
  font-size: 16pt;
  font-weight: 400;
  color: #919191;
  letter-spacing: -0.02em;
}

.project ul.actions {
  list-style-type: none;
  font-size: 10pt;
  padding-top: 10px;
  margin: 0;
  text-transform: uppercase;
  border-top: 1px solid #919191;
}

.project ul.actions a {
  width: 80%;
  color: #919191;
  font-weight: 700;
}

.project ul.actions a:hover {
  text-decoration: underline;
}

h1, h2, h3 {
  margin: 0;
}

h1 {
  color: rgba(255, 255, 255, 1);
  font-size: 1rem;
}

h2 {
  color: rgba(255, 255, 255, 0.5);
  font-size: .8rem;
}
